@model Movie
<h2> You have successfully added a new movie to the collection!</h2>
<p> The new movie you added: </p>
<br />
<table>
    <theard>
        <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Copied To Plex</th>
            <th>Lent To</th>
            <th>Notes</th>
            <th></th>
            <th></th>
        </tr>
    </theard>
    
    <tbody>
        <tr>
            <td>@Model.CategoryName</td>
            <td>@Model.Title</td>
            <td>@Model.Year</td>
            <td>@Model.Director</td>
            <td>@Model.Rating</td>
            <td>@Model.Edited</td>
            <td>@Model.LentTo</td>
            <td>@Model.CopiedToPlex</td>
            <td>@Model.Notes</td>
            <td>
                <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@Model.MovieId" style="background-color: white;border: 2px solid black;">Edit</a>
            </td>
            <td>
                <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@Model.MovieId" style="background-color: dimgray; border:2px solid dimgray;">Delete</a>
            </td>

        </tr>
    </tbody>
</table>