@model List<Movie>

<h1 style="display: flex; justify-content: center; align-items: center;">Joel Hilton Movie Collection</h1>

<table>
    <theard class="fw-bold"> 
        <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Copied To Plex</th>
            <th>Lent To</th>
            <th>Note</th>
            <th>Edit/Delete</th>
        </tr>  
    </theard>
    @foreach (Movie x in Model)
    {
        <tbody>
            <tr>
                <td>@x.CategoryName?</td>
                <td>@x.Title</td>
                <td>@x.Year</td>
                <td>@x.Director</td>
                <td>@x.Rating?</td>
                <td>@x.Edited</td>
                <td>@x.LentTo?</td>
                <td>@x.CopiedToPlex</td>
                <td>@x.Notes?</td>
                <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@x.MovieId">Edit</a>
                <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@x.MovieId">Delete</a></td>

            </tr>
        </tbody>
    }
</table>